.root {
    -fx-font-family: Helvetica;
    -fx-font-size: 14px;
}

.createPatientBodyBox .errorLabel {
    -fx-text-fill: #80002a;
    -fx-font-size: 14px;
}

/****************
    Heading
****************/
.headingBox {
    -fx-background-color: #660022;
    -fx-alignment: top-center;
    -fx-padding: 25px 40px;
}

.innerHeadingBox {
    -fx-max-width: 900px;
    -fx-min-width: 900px;
}

.titleLabel {
    -fx-text-fill: #e6e6e6;
    -fx-font-size: 20px;
    -fx-padding: 5px 0 0 0;
}

.userBox {
    -fx-spacing: 10px;
}

.userBox Button {
    -fx-background-color: #4d0019;
    -fx-padding: 10px 15px;
    -fx-min-width: 70px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-width: 0;
}

.userBox Button:hover {
    -fx-background-color: #330011;
}

/****************
    Body
****************/
.bodyBox {
    -fx-alignment: top-center;
    -fx-padding: 25px 40px;
}

.innerBodyBox {
    -fx-max-width: 900px;
    -fx-min-width: 900px;
    -fx-spacing: 20px;
}


/****************
    Hospital
****************/
.subHeadingBox {
    -fx-alignment: center;
    -fx-spacing: 30px;
}

.subHeadingBox Label {
    -fx-font-size: 18px;
}

.subHeadingBox Button {
    -fx-background-color: #80002a;
    -fx-padding: 8px 8px;
    -fx-min-width: 60px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 0;
}

.subHeadingBox Button:hover {
    -fx-background-color: #660022;
}

/*** Index ***/
.hospitalIndexBodyBox {
    -fx-spacing: 30px;
}

.hospitalIndexBodyBox Button {
    -fx-cursor: hand;
    -fx-min-width: 199px;
    -fx-min-height: 150px;
    -fx-background-color: #dbdbdb;
    -fx-font-size: 15px;
}

.hospitalIndexBodyBox Button:hover {
    -fx-background-color: #cccccc;
}

/*** Show ***/
.tableDisplay {
    -fx-spacing: 15px;
    -fx-padding: 20px;
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: lightgrey;
}

.tableHeadings Label {
    -fx-text-fill: #4d0019;
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
}

.tableBody Label {
    -fx-text-fill: #4d4d4d;
}

.tableDisplay Label {
    -fx-padding: 10px 0;
    -fx-min-width: 110px;
    -fx-max-width: 110px;
}

Label.email {
    -fx-min-width: 210px;
    -fx-max-width: 210px;
}

Label.action,
HBox.action {
    -fx-min-width: 60px;
    -fx-max-width: 60px;
}

HBox.action {
    -fx-alignment: center-left;
}

HBox.action Button {
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #404040;
}

HBox.action Button:hover {
    -fx-background-color: #bfbfbf;
}


/****************
    Patient
****************/
.createPatientBodyBox > VBox {
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-spacing: 25px;
    -fx-padding: 30px 40px;
}

.createPatientBodyBox .firstNameBox,
.createPatientBodyBox .middleNameBox,
.createPatientBodyBox .lastNameBox,

.createPatientBodyBox .titleBox,
.createPatientBodyBox .genderBox,
.createPatientBodyBox .tribeBox,

.createPatientBodyBox .emailBox,
.createPatientBodyBox .phoneNumberBox,
.createPatientBodyBox .relevantLinkBox,

.createPatientBodyBox .placeOfBirthBox,
.createPatientBodyBox .dateOfBirthBox,
.createPatientBodyBox .currentHospitalBox,

.createPatientBodyBox .compoundNameBox,
.createPatientBodyBox .townBox,
.createPatientBodyBox .regionBox,

.createPatientBodyBox .otherDetailsBox,

.createPatientBodyBox ChoiceBox {
    -fx-min-width: 255px;
    -fx-spacing: 10px;
}

.createPatientBodyBox DatePicker {
    -fx-min-width: 255px;
}

.createPatientBodyBox TextArea {
    -fx-min-width: 820px;
}

.createPatientBodyBox Label {
    -fx-text-fill: #4d4d4d;
}

.createPatientBodyBox ChoiceBox Label {
    -fx-text-fill: #262626;
}

.createPatientBodyBox TextField,
.createPatientBodyBox .text-field,
.createPatientBodyBox ChoiceBox,
.createPatientBodyBox TextArea {
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: lightgrey;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-text-fill: #262626;
}

.createPatientBodyBox ChoiceBox {
    -fx-padding: 5px 4px;
}

.createPatientBodyBox TextArea {
    -fx-padding: 5px 3px;
}

.createPatientBodyBox TextArea .content {
    -fx-background-color: white;
}

.createPatientBodyBox TextField:focused,
.createPatientBodyBox .text-field:focused,
.createPatientBodyBox ChoiceBox:focused,
.createPatientBodyBox TextArea:focused {
    -fx-border-color: #660022;
}

.createPatientBodyBox .date-picker:focused > .text-field,
.createPatientBodyBox .date-picker > .text-field:focused {
    -fx-border-color: #660022;
    -fx-border-width: 0.3px;
}

.createPatientBodyBox .date-picker:focused {
    -fx-background-color: #660022;
    -fx-border-width: 0.3px;
}

.createPatientBodyBox .date-picker:focused > .arrow-button {
    -fx-background-color: lightgrey;
}

.createPatientBodyBox .buttonBox Button {
    -fx-background-color: #80002a;
    -fx-min-width: 150px;
    -fx-padding: 12px 0;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 0;
    -fx-border-color: black;
}

.createPatientBodyBox .buttonBox Button:hover {
    -fx-background-color: #660022;
}
